___
# Ciência dos Dados - PROJETO 1

## COLOQUE AQUI SEU NOME
___

## TÍTULO DO SEU PROJETO

# ___
## Introdução

Descreva aqui o que pretende analisar!

Capriche no português!! 
Se quiser pode utilizar pesquisas semelhantes publicadas em sites confiáveis!!

Irei estudar a destribuição alimentar no estado de São Paulo.

___
## Análise e Resultados

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [2]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\Elcio\Desktop\FACULDADE\2° SEMESTRE\CIENCIAS DOS DADOS\CD17\Projeto1

In [7]:
#Se usar o arquivo descompactado
dados = pd.read_csv('DOM2009.csv',sep=',')

#Se usar o arquivo compactado como está no dropbox púbico
#pd.read_csv('DOM2015csv.zip', compression='zip', header=0, sep=',', quotechar='"')

In [13]:
dadosPI = dados[dados.UF == 22].loc[:,{"V0221","VO222",'V0224','V0228','V0229','V4621','V4624'}]
dadosCompletos = dadosPI[pd.notnull(dadosPI.V0229)]
dadosCompletos

       V0229  V0224  V4624  V0228  V0221         V4621  VO222
20668    3.0    4.0    1.0    2.0    1.0  2.100000e+02    NaN
20670    3.0    2.0    1.0    4.0    1.0  4.190000e+02    NaN
20671    3.0    2.0    1.0    4.0    1.0  2.600000e+01    NaN
20673    3.0    2.0    1.0    2.0    1.0  2.221000e+03    NaN
20674    3.0    2.0    1.0    2.0    1.0  3.000000e+02    NaN
20675    3.0    2.0    1.0    6.0    1.0  3.450000e+02    NaN
20676    3.0    4.0    1.0    6.0    3.0  1.636000e+03    NaN
20678    3.0    4.0    1.0    4.0    1.0  7.800000e+01    NaN
20679    3.0    2.0    1.0    4.0    1.0  0.000000e+00    NaN
20680    3.0    4.0    1.0    4.0    1.0  2.250000e+02    NaN
20683    3.0    4.0    1.0    4.0    1.0  6.600000e+01    NaN
20684    3.0    2.0    1.0    4.0    1.0  1.400000e+02    NaN
20685    3.0    2.0    1.0    4.0    1.0  0.000000e+00    NaN
20686    3.0    4.0    1.0    4.0    1.0  4.650000e+02    NaN
20687    3.0    2.0    1.0    4.0    1.0  5.900000e+02    NaN
20688    3.0    4.0    1.0    4.0    1.0  2.000000e+02    NaN
20689    3.0    4.0    1.0    6.0    1.0  1.000000e+12    NaN
20690    3.0    2.0    1.0    4.0    1.0  2.050000e+02    NaN
20691    3.0    4.0    1.0    4.0    1.0  1.000000e+12    NaN
20692    3.0    4.0    1.0    4.0    1.0  4.650000e+02    NaN
20693    3.0    2.0    1.0    4.0    1.0  1.000000e+12    NaN
20694    3.0    4.0    1.0    4.0    1.0  3.360000e+02    NaN
20695    3.0    2.0    1.0    4.0    1.0  1.400000e+03    NaN
20696    3.0    2.0    1.0    2.0    1.0  4.500000e+02    NaN
20697    3.0    4.0    1.0    4.0    1.0  2.700000e+01    NaN
20698    3.0    2.0    2.0    6.0    1.0  4.650000e+02    NaN
20699    3.0    4.0    1.0    4.0    1.0  9.500000e+02    NaN
20700    3.0    4.0    1.0    4.0    1.0  6.130000e+02    NaN
20701    3.0    4.0    1.0    4.0    1.0  3.400000e+02    NaN
20702    3.0    2.0    5.0    4.0    1.0  2.900000e+02    NaN
...      ...    ...    ...    ...    ...           ...    ...
22640    3.0    4.0    1.0    4.0    1.0  6.900000e+01    NaN
22641    3.0    2.0    1.0    2.0    1.0  3.100000e+02    NaN
22642    3.0    2.0    1.0    4.0    1.0  4.330000e+02    NaN
22643    3.0    4.0    1.0    6.0    1.0  3.000000e+02    NaN
22644    3.0    2.0    1.0    4.0    1.0  1.200000e+03    NaN
22645    3.0    2.0    1.0    4.0    1.0  1.820000e+02    NaN
22646    3.0    2.0    1.0    4.0    1.0  3.230000e+02    NaN
22647    3.0    4.0    1.0    4.0    1.0  1.970000e+02    NaN
22648    3.0    4.0    1.0    6.0    1.0  1.000000e+02    NaN
22649    3.0    4.0    1.0    6.0    1.0  5.850000e+02    NaN
22650    3.0    4.0    1.0    6.0    3.0  1.970000e+02    NaN
22651    3.0    4.0    1.0    6.0    1.0  8.000000e+01    NaN
22652    3.0    2.0    1.0    6.0    1.0  1.550000e+02    NaN
22653    3.0    2.0    1.0    4.0    1.0  8.300000e+01    NaN
22655    3.0    2.0    2.0    4.0    1.0  9.300000e+01    NaN
22657    3.0    2.0    1.0    4.0    1.0  3.750000e+02    NaN
22658    3.0    2.0    1.0    4.0    1.0  8.900000e+01    NaN
22659    3.0    2.0    1.0    4.0    1.0  3.500000e+02    NaN
22660    3.0    2.0    1.0    4.0    1.0  6.000000e+02    NaN
22661    3.0    2.0    1.0    4.0    1.0  7.500000e+02    NaN
22662    3.0    4.0    6.0    6.0    1.0  9.300000e+01    NaN
22663    3.0    2.0    1.0    6.0    1.0  1.000000e+02    NaN
22664    3.0    2.0    1.0    4.0    1.0  1.560000e+02    NaN
22666    3.0    4.0    6.0    6.0    1.0  7.500000e+01    NaN
22667    3.0    2.0    1.0    4.0    1.0  2.320000e+02    NaN
22668    3.0    4.0    1.0    4.0    3.0  2.000000e+01    NaN
22669    3.0    4.0    1.0    4.0    1.0  4.550000e+02    NaN
22670    3.0    4.0    1.0    4.0    1.0  9.400000e+01    NaN
22671    3.0    2.0    1.0    4.0    1.0  5.300000e+02    NaN
22674    3.0    2.0    1.0    2.0    1.0  1.366000e+03    NaN

[1642 rows x 7 columns]

___
## Conclusão

Descreva aqui suas conclusões!